html {
  font-size: 62.5% !important;
}

body {
  font-family: ubuntu,sans-serif;
}

input::-moz-placeholder {
  color: #A6A8AB;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #A6A8AB;
}
input::-webkit-input-placeholder {
  color: #A6A8AB;
}
