$bgInputColor = #5F6269
$bgBtnColor = #05a081
$bgWhiteColor = #fff
$bgGrayColor = #f6f6f6
$whiteTextColor = #fff
$darkTextColor = #1a1a1a
$grayTextColor = #d3d3d3
$fontSize = 1.4rem
$fontWeight = 600
$borderRadius = .2rem
$maxWidth = 130rem
$minWidth = 30rem
